<footer class="botFooter">
    <div class="wrap grid-x">
        <div class="large-4">
            <h5>Contact Us</h5>
            <hr>
            <a href="#"><span>georgiatechoffroad@gmail.com</span></a>
            <a href="#"><span>kyle.speight@gatech.edu</span></a>
        </div>
        <div class="large-4 medium-4 align-center">
        </div>
        <div class="large-4">
            <h5>Follow Us</h5>
            <hr>
            <a href="#"><span>Facebook</span></a>
            <a href="#"><span>Instagram</span></a>
        </div>
    </div>
</footer>
