<footer class="botFooter cell">
        <div class="wrap grid-x">
            <div class="large-offset-1 small-4 medium-offset-1">
                <h6 id="contact-us">CONTACT US</h6>
                <a href="#"><span>georgiatechoffroad@gmail.com</span></a>
                <a href="#"><span>kyle.speight@gatech.edu</span></a>
            </div>
            <div class="large-3 medium-4 small-4 align-center">
            </div>
            <div class="large-4 cell medium-3 small-3">
                <h6 id="follow-us">FOLLOW US</h6>
                    <a href="https://www.facebook.com/georgiatechoffroad/"><img src="../assets/img/facebook.PNG" style="min-width:30px; min-height:30px; padding-bottom:10px; padding-right:10px;">Facebook</a>
                    <a href="https://www.instagram.com/georgiatechoffroad/?hl=en"><img src="../assets/img/instagram.PNG" style="min-width:30px; min-height:30px;padding-bottom:10px; padding-right:10px;">Instagram</a>
            </div>
            </div>
</footer>
