
<div class="header" id="banner">
    <div class="grid-x grid-margin-x" >
            <div class="cell" >
               <a href="index.html"><img id="gtor-logo" src="../assets/img/gtor-logo.PNG"/></a>
            </div>
            <div class="small-9 medium-9 large-6 cell">
            </div>
            <!--<div class="small-3 medium-3 large-3 cell" id="gt-logo-cell">
                <img id="gt-logo" src="../assets/img/gt-logo.PNG" />
            </div>-->
    </div>
    <div class="large-12 cell">
        <div class="title-bar" id="titlebar">
            <div class="title-bar-left hide-for-large hide-for-medium">
                <button type="button" class="menu-icon" data-toggle="offCanvasLeft"></button>
                <span class="title-bar-title"></span>
            </div>
        </div>
    </div>
</div>
