
    <div class="grid-x">
        <div class="large-12 small-12 medium-12" id="banner-fill">
            <div class="small-3 medium-3 large-3" id="banner">
               <img id="gtor-logo" src="../assets/img/gtor-logo.PNG"/>
            </div>
        </div>
        <div class="large-12 cell">
            <div class="title-bar">
                <div class="title-bar-left">
                    <button type="button" class="menu-icon hide-for-large hide-for-medium" data-toggle="offCanvasLeft"></button>
                    <span class="title-bar-title"></span>
                </div>
            </div>
        </div>
    </div>
